/* CFP Dropdown */

.special-track-menu{
    display:none;
    position:absolute;
    left:100%;
    top:0;
    min-width:220px;
    background:#fff;
    border:1px solid #ddd;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
    z-index:9999;
}

.dropdown-menu{
    position:absolute;
}

.dropdown-item{
    position:relative;
}

.dropdown-item:hover{
    background:#f8f9fa;
}
/* 二级菜单容器 */

.dropdown-submenu{
    position:relative;
}

/* 右侧菜单 */

.special-track-menu{
    display:none;
    position:absolute;

    left:100%;
    top:-1px;

    min-width:260px;

    background:#fff;

    border:1px solid #e5e5e5;

    box-shadow:
        0 4px 12px rgba(0,0,0,.12);

    z-index:9999;
}

/* 鼠标放上去显示 */

.dropdown-submenu:hover
.special-track-menu{
    display:block;
}

/* Special Tracks 后面的箭头 */

.special-track::after{

    content:"›";

    position:absolute;

    right:15px;

    font-size:20px;

    color:#888;
}

/* hover效果 */

.special-track-menu .dropdown-item:hover{

    background:#f8f9fa;

    color:#00843d;
}